<div class="modal-content">
  <form novalidate>
    <div class="modal-header">
      <h3 translate="member-picker.title"></h3>
    </div>
    <div class="modal-body">
      <!-- Show if list is full and waitlist is available -->
      <div ng-show="signups.calculateTaken(signups.group, true) >= signups.group.grp_max_size && signups.reserveSpaces(signups.group)" class="lead" translate="member-picker.warning-full-empty">
        <br />
      </div>
      <!-- Show if list is full and waitlist is full -->
      <div ng-show="signups.calculateTaken(signups.group, true) >= signups.group.grp_max_size && !signups.reserveSpaces(signups.group)" class="lead" translate="member-picker.warning-full-full">
        <br />
      </div>
      <table class="table table-responsive">
        <thead class="thead-default">
          <tr>
            <th></th>
            <th translate="member-picker.header-given-name"></th>
            <th translate="member-picker.header-family-name"></th>
            <th translate="member-picker.header-email"></th>
            <th translate="member-picker.header-role"></th>
          </tr>
        </thead>
        <tbody ng-repeat="user in signups.courseRoster">
          <tr ng-if="!signups.userInList(signups.list,signups.group,user.user_uuid)">
            <td scope="row"><input type="radio" name="userToAdd" ng-model="signups.userToAdd" value={{user.user_uuid}} />
            <td>{{user.first}}</td>
            <td>{{user.last}}</td>
            <td>{{user.email}}</td>
            <td>{{user.course_role}}</td>
          </tr>
        </tbody>
      </table>
      <div class="modal-footer">
      <button type="button" class="btn"
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
      <button type="button" class="btn btn-info" ng-if="signups.calculateTaken(signups.group, true) >= signups.group.grp_max_size"
          data-ng-click="modalOptions.waitlist();" translate="member-picker.btn-waitlist"></button>
      <button class="btn btn-primary"
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    </div>
  </div>
</form>
</div>
