.divider-vertical {
    height: 65px;                   /* any height */
    border-left: 1px solid gray;     /* right or left is the same */
    float: left;                     /* so BS grid doesn't break */
    opacity: 0.5;                    /* optional */
    margin: 0 15px;                  /* optional */
}

.custom-brand {
  margin-top: 5px;
}

.custom-nav-btn {
  margin-top:12px;
}

.custom-nav-btn-right {
  margin-left:10px;
  border: 1px;
  font-weight: bold;
}

.custom-nav-text-vcenter {
  margin-top: 22px;
  border: 1px;
  font-weight: bold;
  background-color: inherit;
}

.custom-nav-text-vcenter a a:hover, a:visited, a:link, a:active {
  color: gray;
  text-decoration: none;
}

.custom-nav-text-vcenter a:active {
  border-style: dashed;
}

.custom-grp-btn-right {
  margin-right: 5px;
  color: gray;
  text-decoration: none;
}

.custom-cal {
  color: gray;
  text-decoration: none;
}

.custom-cal a:hover {
  color: lightgray;
  text-decoration: underline;
}
