<div class="well">
  <!--<pre>{{ signups.groups | json}}</pre>-->
  <uib-accordion close-others="oneAtATime" ng-repeat="group in signups.groups">

    <div uib-accordion-group class="panel" is-open="group.isOpen">
      <uib-accordion-heading> {{ group.grp_name }}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.isOpen, 'glyphicon-chevron-right': !group.isOpen}"></i>
      </uib-accordion-heading>
      <div class="row" style="padding-left: 25px;">
        <strong>Description</strong>: {{group.grp_description}}<br />
        <strong>Location</strong>: {{group.grp_location}}<br />
        <strong>Start</strong>: {{group.grp_start | date}}<br />
        <strong>End</strong>: {{group.grp_end | date}}<br />
        <strong>Max</strong>: {{group.grp_max_size}} <strong>Waitlist</strong>: {{group.grp_max_waitlist}}<br />
      </div>
      <div class="btn-group-sm pull-right">
        <button class="btn btn-default pull-right glyphicon glyphicon-trash" ng-click="signups.deleteGroup(signups.list, group)"></button>
        <button class="btn btn-default pull-right glyphicon glyphicon-pencil" ng-click="signups.editGroup(signups.list, group)"></button>
      </div>
    </div>
  </uib-accordion>

  <button class="btn btn-default" ng-click="signups.addGroup(list,false)"><i class="glyphicon glyphicon-plus"></i></button>
</div>
