<div ng-if="signups.config.lti.debug_mode">
  <br />
  <div ng-show="signups.config.lti">
    <h4>LTI data</h4>
    <pre>userToAdd: {{signups.userToAdd}}</pre>
    <pre>{{signups.config.lti | json}}</pre>
  </div>
  <div ng-show="signups.course">
    <h4>Course</h4>
    <pre>{{signups.course | json}}</pre>
  </div>
  <div ng-show="signups.user">
    <h4>User</h4>
    <pre>{{signups.user | json}}</pre>
  </div>
  <div>
    <h4>Config</h4>
    <pre>{{signups.config | json}}</pre>
  </div>
  <div>
    <h4>List</h4>
    <pre>{{signups.list | json}}</pre>
  </div>
  <div>
    <h4>Course Roster</h4>
    <pre>{{signups.courseRoster | json}}</pre>
  </div>
</div>
