<div class="container-fluid"  ng-show="signups.config.lti && signups.course && signups.user">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <h1 class="navbar-brand mb-0 custom-brand" translate="nav-bar.branding"></h1>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-hide="config.showInfo">
    <ul class="nav navbar-nav">
      <li class="divider-vertical"></li>
      <li ng-if="signups.config.lti.user_role === 'instructor'"><button class="navbar-text custom-nav-text-vcenter"  type="button" ng-click="signups.newList()" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><span class="sr-only" translate="nav-bar.acc-create-list"></span>&nbsp;<span translate="nav-bar.create-list"></span> </button></li>
      <li ng-if="signups.config.lti.user_role === 'instructor' || (signups.config.lti.user_role === 'learner' && signups.list.student_view)"><button class="navbar-text custom-nav-text-vcenter"  type="button" ng-show="!signups.config.showMembers" ng-click="signups.config.showMembers = true" ><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span><span class="sr-only" translate="nav-bar.acc-view-members"></span>&nbsp;<span translate="nav-bar.view-members"></span> </button></li>
      <li ng-if="signups.config.lti.user_role === 'instructor' || (signups.config.lti.user_role === 'learner' && signups.list.student_view)"><button class="navbar-text custom-nav-text-vcenter"  type="button" ng-show="signups.config.showMembers" ng-click="signups.config.showMembers = false" ><span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span><span class="sr-only" translate="nav-bar.acc-hide-members"></span>&nbsp;<span translate="nav-bar.hide-members"></span> </button></li>

    </ul>
    <p class="navbar-text navbar-right custom-nav-text-vcenter"><a href="{{signups.config.lti.return_url}}"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span><span class="sr-only" translate="nav-bar.acc-exit"></span>&nbsp;<span translate="nav-bar.exit"</span> </a></p>
    <p class="divider-vertical navbar-right "></p>
    <p class="navbar-text navbar-right custom-nav-text-vcenter"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="sr-only" translate="nav-bar.acc-user"></span>&nbsp;<span translate="common.localized-name" translate-values="{ family : signups.user.name.family, given : signups.user.name.given }"></span></p>
    <p class="navbar-text navbar-right custom-nav-text-vcenter"><span class="glyphicon glyphicon-education" aria-hidden="true"></span><span class="sr-only" tranlate="nav-bar.acc-course"></span> {{signups.course.externalId}}</p>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
