<div id="printMe" ng-if="signups.config.lti.user_role === 'instructor'">
  <uib-accordion close-others="oneAtATime" ng-repeat="list in signups.course.lists">
    <div uib-accordion-group class="panel panel-default" is-open="list.isOpen">
      <uib-accordion-heading> {{ list.list_name }}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': list.isOpen, 'glyphicon-chevron-right': !list.isOpen}"></i>
          <p></p>
          <p class="lead" style="margin-left: 5px;"> {{list.list_description}}</p>
          <p style="margin-left: 5px;"><strong>Closes on {{list.list_visible_end | date : "EEEE, MMMM d, y 'at' h:mm a"}}</p>
      </uib-accordion-heading>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="Add List">
          <button title="Add a new group" class="btn btn-default" ng-click="signups.addGroup(list, true)"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
        <div class="btn-group" role="group" aria-label="List Actions">
          <button class="btn btn-default" title="Generate an LTI Link" ng-click="signups.generateLti(list)"><i class="glyphicon glyphicon-link"></i></button>
          <button ng-print print-element-id="printMe" class="btn btn-default" title="Print group listing"><i class="glyphicon glyphicon-print"></i></button>
          <button class="btn btn-default" title="Edit List" ng-click="signups.editList(list)"><i class="glyphicon glyphicon-pencil"></i></button>
          <button class="btn btn-default" title="Delete List" ng-click="signups.deleteList(list)"><i class="glyphicon glyphicon-trash"></i></button>
        </div>
      </div>
      <p></p>
      <group-view></group-view>
    </div>
  </uib-accourdion>
</div>
<div ng-if="signups.config.lti.user_role === 'learner'">
  <uib-accordion close-others="oneAtATime" ng-model="list = signups.singleList">
  <p>List: {{list | json}}</p>
  <div class="panel" ng-class="calculateTaken(list, true) < list.max_size ? 'panel-default' : 'panel-danger'">
    <div class="panel-heading clearfix">
      <div class="row">
        <div class="text-left h3 col-md-4" style="margin-top:0px; margin-bottom: 0px;">{{list.list_name}}
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div>
          <p class="lead" style="margin-left: 25px;"> {{list.list_description}}</p>
          <p style="margin-left: 25px;"><strong>Closes on {{list.list_visible_end | date : "EEEE, MMMM d, y 'at' h:mm a"}}</p>
        </div>
      </div>
      <group-view></group-view>
    <div class="panel-footer" style="padding: 30px;">
    </div>
  </div>
</div>
