<div id="printMe" ng-if="signups.config.lti.user_role === 'instructor'">
  <uib-accordion close-others="oneAtATime" ng-repeat="list in signups.course.lists">
    <div uib-accordion-group class="panel panel-default" is-open="list.isOpen">
      <uib-accordion-heading> {{ list.list_name }}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.isOpen, 'glyphicon-chevron-right': !group.isOpen}"></i>
          <p></p>
          <p class="lead" style="margin-left: 5px;"> {{list.list_description}}</p>
          <p style="margin-left: 5px;"><strong>Closes on {{list.list_visible_end | date : "EEEE, MMMM d, y 'at' h:mm a"}}</p>
      </uib-accordion-heading>

      <group-view></group-view>
      <p></p>
      <div class="row" style="margin-left: 5px;">
        <button tooltip="Add a new group" class="btn btn-default" ng-click="signups.addGroup(list, true)"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
      </div>
    </div>
  </uib-accourdion>
</div>
<div id="printMe" ng-if="signups.config.lti.user_role === 'learner'">
  <uib-accordion close-others="oneAtATime" ng-repeat="list in signups.course.lists">
  <div class="panel" ng-class="calculateTaken(list, true) < list.max_size ? 'panel-default' : 'panel-danger'">
    <div class="panel-heading clearfix">
      <div class="row">
        <div class="text-left h3 col-md-4" style="margin-top:0px; margin-bottom: 0px;">{{list.list_name}}</div>
        <div class="btn-group pull-right" style="margin-right: 10px;" ng-show="signups.config.lti.user_role === 'instructor'">
          <button class="btn btn-default" ng-click="signups.emailList(list)">Email List</button>
          <button ng-print print-element-id="printMe" class="btn btn-default" >Print List</button>
          <button class="btn btn-default" ng-click="signups.exportList(list)">Export List</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div>
          <p class="lead" style="margin-left: 25px;"> {{list.list_description}}</p>
          <p style="margin-left: 25px;"><strong>Closes on {{list.list_visible_end | date : "EEEE, MMMM d, y 'at' h:mm a"}}</p>
        </div>
      </div>
      <group-view></group-view>
    <div class="panel-footer" style="padding: 30px;">
      <div class="row">
        <button class="btn btn-default" ng-click="signups.addGroup(list, true)"><i class="glyphicon glyphicon-plus"></i></button>
      </div>
    </div>
  </div>
</div>
