<div class="modal-content">
  <form novalidate id="newListForm">
    <div class="modal-header">
      <h3>{{modalOptions.headerText}}</h3>
    </div>
    <div class="modal-body">
      <div class="form-group dropdown">
        <label for="name" class="col-2 col-form-label">Name</label>
        <div class="col-10">
          <input class="form-control" type="text" id="name" ng-model="signups.list.list_name" />
        </div>
      </div>
      <div class="form-group dropdown">
        <label for="description" class="col-2 col-form-label">Description</label>
        <div class="col-10">
          <input class="form-control" type="text" id="description" ng-model="signups.list.list_description" />
        </div>
      </div>
      <div class="form-group dropdown">
        <label for="startdate">List Availability Start Date</label>
        <div class="input-group date">
          <input type="datetime-local" datetime-picker="yyyy-MM-ddThh:mm:ss.sss'Z'" ng-focus="signups.openListStartCal($event, prop)" class="form-control" id="startdate" ng-model="signups.list.list_visible_start" is-open="signups.listStartIsOpen" />
          <span class="input-group-addon">
            <a ng-click="signups.openListStartCal($event, prop)"><i class="glyphicon glyphicon-calendar custom-cal"></i></a>
          </span>
        </div>
      </div>
      <div class="form-group dropdown">
        <label for="enddate">List Availability End Date</label>
        <div class="input-group date">
          <input type="datetime-local" datetime-picker="yyyy-MM-ddThh:mm:ss.sss'Z'" ng-focus="signups.openListEndCal($event, prop)" class="form-control" id="enddate" ng-model="signups.list.list_visible_end" is-open="signups.listEndIsOpen"  />
          <span class="input-group-addon">
            <a ng-click="signups.openListEndCal($event, prop)"><i class="glyphicon glyphicon-calendar custom-cal"></i></a>
          </span>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="student_view" ng-model="signups.list.student_view">
          Allow Students To View Memberships
        </label>
      </div>
      <group-list></group-list>
      <div class="modal-footer">
      <button type="button" class="btn"
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
      <button class="btn btn-primary"
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    </div>
  </form>
</div>
